.summary-container {
  margin: 0;
  padding: 95px 0;
}

.left-summary-container {
  margin: auto;

  .scroll-down-section {
    position: absolute;
    border-top: 5px solid var(--color-red);
    transform: rotate(-90deg);
    min-width: 155px;
    margin: 377px 0px 0px -160px;
    padding: 24px 0 15px 0px;
    color: var(--color-text-white);
    font-size: 12px;

    .scroll-down {
      transform: scale(1.5, 1);
    }
  }

  h1 {
    font-family: "Oswald", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal;
    color: var(--color-text-white);
    font-size: 56px;
    font-weight: 700;
    transform: scale(1, 1.2);
  }

  .small-content {
    color: var(--color-grey);
    margin: 30px 0px;
  }

  .get-started {
    span {
      color: var(--color-text-white);
      margin-right: 17px;
      text-decoration: underline;

      img {
        height: 20px;
        margin-bottom: 2px;
      }
    }

    .right-arrow {
      background: var(--color-red);
      border-radius: 30px;
    }
  }
}

.right-summary-container {
  margin: auto;

  .animated-svg {
    svg {
      max-width: 100%;
    }
  }
}

.about-container {

  img {
    height: 100%;
    width: 100%;
  }

  .flip-image {
    // border: 1px solid red;
    height: 100%;
    width: 100%;

    .image-inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.999s;

      .front-image,
      .rare-image {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }


      .front-image {
        // background-color: #6A2C70;
        // color: #fff;
        // display: flex;
        // align-items: center;
        // border: 10px solid #6A2C70;
        // border-radius: 10px;
        // justify-content: center;
        // font-size: 24px;
        // transform: rotateY(0deg);
      }

      .rare-image {
        // background-color: #F08A5D;
        color: #fff;
        display: flex;
        align-items: center;
        // border: 10px solid #F08A5D;
        // border-radius: 10px;
        justify-content: center;
        font-size: 24px;
        transform: rotateY(180deg);
      }
    }
  }

  .flip-image:hover .image-inner {
    transform: rotateY(180deg);
  }

  .right-about-container {
    img {
      margin: -70px 0 0 84px;
      width: 70%;
    }

    .about-me {
      margin: -9rem 0 0 11rem;

      .about-me-heading {

        h1 {
          color: var(--color-text-white);
          display: flex;

          font-family: "Oswald", sans-serif !important;

          .about-heading {
            transform: scale(1.5, 2) !important;
            margin: 0 0 14px 32px;
            font-weight: 600;
          }

          .me-heading {
            margin: 0px 0 14px 75px;
            transform: scale(1.5, 2) !important;
          }
        }
      }

      .about-me-content {
        color: var(--color-grey);
        max-width: 60%;
        font-weight: 200;
        margin-top: 12px;
      }
    }
  }

  .right-counts {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 37%;

    .bordered-container {
      border-right: 1px solid var(--color-text-white);
      border-left: 1px solid var(--color-text-white);
    }

    .count-container {
      // border: 1px solid white;
      min-width: 300px;
      min-height: 100px;
      color: var(--color-text-white);

      .count-content {
        margin: 25px 0 0 90px;

        .count {
          font-size: 34px;
          font-weight: 800;
        }

        .discription {
          font-size: 10px;
          font-weight: 300;
        }
      }
    }
  }
}

.what-we-do {
  margin-top: 150px;
  padding: 0 0 0 73px;

  .heading {
    color: var(--color-text-white);
    font-size: 40px;
    font-family: "Oswald", sans-serif !important;
    font-style: normal;

    .what {
      transform: scale(1.5, 2) !important;
      margin: 0 30px 14px 32px;
      font-weight: 600;
    }

    .we-do {
      transform: scale(1.5, 2) !important;
      margin: 0 30px 14px 60px;
      font-weight: 200;
    }
  }
}

.what-we-do-card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, var(--color-background-black) 0%, var(--color-red) 100%);
  // border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 50px;
  // border: 2px solid var(--color-red);
}

.what-we-do-card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.what-we-do-card:hover {
  box-shadow: 10px 10px 10px var(--color-red);
}

.what-we-do-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-text-white);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.what-we-do-card:hover .what-we-do-card-content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.what-we-do-card-title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.what-we-do-card-description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.what-we-do-card:hover svg {
  scale: 0;
}



// ---------------------------------

.projects {
  margin: 50px 0 0 112px;

  .projects-heading {
    display: flex;

    .heading {
      color: var(--color-text-white);
      font-size: 40px;
      transform: scale(1.5, 2) !important;
      font-weight: 600;
      margin: 40px 0 70px 25px;
      font-family: "Oswald", sans-serif !important;
      font-style: normal;
    }
  }

  .card-section-one {
    .projects-card {
      width: 250px;
      height: 250px;
      border-radius: 20px;
      position: relative;
      padding: 1.8rem;
      transition: 0.5s ease-out;
      overflow: visible;
      margin: 0px 0 28px 28px;

      .projects-card-details {
        // color: rgb(255, 255, 255);
        height: 100%;
        gap: .5em;
        display: grid;
        place-content: center;

        .projects-text-body {
          color: var(--color-grey);
        }

        .projects-text-title {
          font-size: 1.5em;
          font-weight: bold;
        }
      }

      .project-card-button {
        transform: translate(-50%, 125%);
        width: 60%;
        border-radius: 1rem;
        border: none;
        background-color: var(--color-red);
        color: var(--color-text-white);
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
      }
    }

    .projects-card:hover {
      box-shadow: 0 4px 18px 0 var(--color-text-white);
    }

    .projects-card:hover .project-card-button {
      transform: translate(-50%, 50%);
      opacity: 1;
    }
  }
}

// ---------------------------------------

.what-client-says {

  // margin: 50px 0 0 112px;

  .what-client-says-heading {
    display: flex;
    justify-content: center;

    .heading {

      .main-heading {
        font-size: 30px;
        font-weight: 400;
        color: var(--color-text-white);
        transform: scale(1.5, 2) !important;
        font-family: "Oswald", sans-serif !important;
        font-style: normal;
        margin: 95px 0 43px 135px;
      }

      .description {
        color: var(--color-grey);
      }
    }
  }
}