<main>
  <article>

      <!-- 
          - #HERO
-->
      <section class="section hero has-bg-image" aria-label="home" id="homePage" style="background-color: #111;">
          <div class="container">

              <div class="hero-content">

                  <h1 class="h1 hero-title"
                      style="align-content: center;font-size: 6rem; line-height: 1; padding-left: 1rem;">WE
                      BELIEVE IN <br />
                      THE STORY <br />
                      BEHIND <br /> <span style="font-weight: 200;">CRAFT</span></h1>

                  <p class="hero-text" style="padding-left: 1.5rem; color: #ffffff7e;">
                      Lorem ipsum dolor sit amet.
                  </p>

                  <div class="btn-wrapper" style="margin-left: 3.5rem;">

                      <a href="#" style="display: flex; gap: 1rem;"><span
                              style="border-bottom: 1px solid #ffffffad;">GET
                              STARTED</span><img
                              style="background-color: red; padding: 1rem; border-radius: 20px;"
                              src="./assets/arrow-right-s-line (1).svg" alt="arrow-right-s-line"></a>

                  </div>

              </div>

          </div>
      </section>

      <!-- 
  - #ABOUT
-->

      <section class="about" aria-labelledby="about-label" id="aboutPage"
          style="background-color: #111;border-top: 1px solid #ffffff63;">
          <div class="container" style="padding-top: 3rem; padding-bottom: 3rem;">
              <div class="about-content">
                  <img src="./assets/About.svg" width="350px" alt="">
                  <p class="section-subtitle" id="about-label"
                      style="color: #fff; font-size: 5rem; padding-left: 2rem;">WHAT'S UP</p>

                  <h2 class="h2 section-title" style="font-weight: 300; padding-left: 2rem;">Lorem ipsum dolor sit
                      amet consectetur
                      adipisicing elit. Molestiae,
                  </h2>

                  <ul class="stats-card has-bg-image">


                      <li>
                          <p class="card-text">
                              <span class="h1">2.5</span>

                              <!-- <spna class="span" style="font-size: 1.3rem;color: #ffffffae;">YEAR EXPERIENCE
                              </spna> -->
                          </p>
                      </li>
                      <li>
                          <p class="card-text">
                              <span class="h1">05</span>

                              <!-- <spna class="span" style="font-size: 1.3rem; color: #ffffffae;">CUSTOMER SATISFIED
                              </spna> -->
                          </p>
                      </li>
                      <li>
                          <p class="card-text">
                              <span class="h1">10</span>

                              <!-- <spna class="span" style="font-size: 1.3rem;color: #ffffffae;">PROJECT COMPELETED
                              </spna> -->
                          </p>
                      </li>

                  </ul>

              </div>

          </div>
      </section>

      <!-- 
  - #SERVICE
-->
      <section class="section service" aria-labelledby="service-label" id="servicePage"
          style="background-color: #111;border-top: 1px solid #ffffff63;">
          <div class="container">
              <h1 style="text-transform: uppercase; color: #fff; font-size: 4rem; padding-bottom: 4rem;">what we
                  do</h1>

              <ul class="grid-list" style="margin-right: 2rem;">

                  <li>
                      <div class="service-card" style="background-color: black; border-radius: 1rem;">
                          <h3 style="color: #fff;" class="h4 card-title">UI/UX DESIGN</h3>
                      </div>
                  </li>
                  <li>
                      <div class="service-card" style="background-color: black;border-radius: 1rem;">
                          <h3 class="h4 card-title">GRAPHIC DESIGN</h3>
                      </div>
                  </li>
                  <li>
                      <div class="service-card" style="background-color: black;border-radius: 1rem;">
                          <h3 class="h4 card-title">INTERIOR DESIGN</h3>
                      </div>
                  </li>
                  <li>
                      <div class="service-card" style="background-color: black;border-radius: 1rem;">
                          <h3 class="h4 card-title">VIDEO EDITING</h3>
                      </div>
                  </li>


              </ul>

          </div>
      </section>


      <!-- success story -->

      <section class="section feature" aria-labelledby="feature-label"
          style="background-color: #111;border-top: 1px solid #ffffff63;">
          <div class="container">

              <div class="feature-content">
                  <h1 style="color: #fff; font-size: 3.3rem; padding-left: 2.4rem;">OUR SUCCESS STORIES</h1>


                  <p class="section-text" style="padding-left: 2.5rem;">Lorem ipsum dolor sit amet. Lorem, ipsum
                      dolor.
                  </p>

                  <ul class="grid-list" style="margin-left: 3.5rem;">

                      <li>
                          <div class="service-card"
                              style="background-color: black; border-radius: 1rem; width: 70vw;">
                              <h3 style="color: #fff; text-align: center; padding: 1.5rem 2rem;"
                                  class="h4 card-title">Lorem ipsum
                                  dolor, sit amet
                                  consectetur adipisicing elit. Magni deserunt facilis beatae! Accusantium, aut
                                  perferendis cum aliquam amet repellendus similique voluptas aperiam ea earum
                                  labore, officiis porro.</h3>
                          </div>
                          <div class="profile_icon" style="position: relative; display: inline;">
                              <img src="./assets/Ellipse 115.svg" width="80px" alt="Ellipse"
                                  style="position: absolute; top: -30px; left: 10rem;">
                          </div>
                      </li>

                  </ul>
              </div>

          </div>
      </section>

  </article>
</main>