<main>
    <article>

        <!-- summary section -->

        <section>
            <div class="container-fluid row summary-container">
                <div class="col-md-6 col-12">
                    <div class="col-md-6 col-12 left-summary-container">
                        <div class="scroll-down-section">
                            <div class="scroll-down">SCROLL DOWN</div>
                        </div>
                        <h1>ELEVATE YOUR </h1>
                        <h1>BRAND WITH</h1>
                        <h1 style="color: #EF0D33;">FLARE</h1>
                        <div class="small-content">Crafting Captivating Designs for Your Success</div>
                        <div class="get-started">
                            <span>GET STARTED</span>
                            <span class="right-arrow">
                                <img src="../../assets/arrow-right-icon.svg" alt="" srcset="">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12 right-summary-container">
                    <div class="animated-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="715.861" height="499.779"
                            viewBox="0 0 715.861 499.779">
                            <g id="Group_16787" data-name="Group 16787" transform="translate(-0.315 -0.539)">
                                <path id="Path_108" data-name="Path 108"
                                    d="M587.415,40.354a182.393,182.393,0,0,0-38.872-21.832A212.043,212.043,0,0,0,460.682.772C413.468-1,360.929,7.339,308.567,27.041a416.094,416.094,0,0,0-69.756,33.724c-37.1,17.927-74.371,43.131-109.161,74.9C10.906,244.652-32.581,390.732,32.738,461.908c47.214,51.474,138.092,49.7,229.858,3.728,58.4-29.287,124.425-40.824,188.856-29.465,42.6,7.456,87.151,1.775,127.443-19.524,101.883-53.426,138.27-184.774,81.293-293.4A231.239,231.239,0,0,0,587.415,40.354Z"
                                    transform="translate(-0.244)" fill="#fff" opacity="0.05" />
                                <path id="Path_109" data-name="Path 109"
                                    d="M673.612,143.722A177.074,177.074,0,0,0,644.5,110a212.109,212.109,0,0,0-76.679-46.5C523.983,45.744,471.8,35.8,415.709,36.691a430.533,430.533,0,0,0-77.034,7.987c-41,4.26-84.488,15.265-127.975,33.369C61.781,140.527-28.565,263.177,8.709,352.28c26.979,64.431,113.066,93.541,214.949,81.471,64.964-7.809,130.992,3.728,187.791,36.209,37.63,21.477,81.471,31.062,126.556,24.85,113.953-15.8,192.761-126.911,175.9-248.5A232.689,232.689,0,0,0,673.612,143.722Z"
                                    transform="translate(0 -4.323)" fill="#fff" opacity="0.05" />
                            </g>
                        </svg>
                        <!-- <iframe width="715.861" height="499.779"
                            src="https://lottie.host/embed/e2b6a598-b601-42ad-afc1-5ab3a0ee00ac/3j1IgXwdZp.json"></iframe> -->
                    </div>


                </div>
            </div>


        </section>


        <!--#ABOUT-->

        <section>
            <div class="container-fluid row about-container">
                <div class="col-md-4 col-12">
                    <!-- <img src="../../assets/demo-profile-picture.png" alt="" srcset=""> -->
                    <div class="flip-image">
                        <div class="image-inner">
                            <div class="front-image">
                                <img src="../../assets/demo-profile-picture.png" alt="">
                            </div>
                            <div class="rare-image">
                                <p>Back Side</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-12">
                    <div class="right-about-container">
                        <img src="../../assets/About.png" alt="" srcset="">
                        <div class="about-me">
                            <div class="about-me-heading">
                                <h1>
                                    <div class="about-heading">ABOUT</div>
                                    <div class="me-heading"> ME </div>
                                </h1>
                            </div>
                            <div class="about-me-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s
                            </div>
                        </div>
                    </div>

                    <div class="right-counts">
                        <div class="count-container">
                            <div class="count-content">
                                <div class="count"> 3.5 + </div>
                                <div class="discription"> YEAR EXPERIENCE </div>
                            </div>

                        </div>
                        <div class="count-container bordered-container">
                            <div class="count-content">
                                <div class="count"> 05 </div>
                                <div class="discription"> CUSTOMER SATISFIED </div>
                            </div>

                        </div>
                        <div class="count-container">
                            <div class="count-content">
                                <div class="count"> 10 </div>
                                <div class="discription"> PROJECTS COMPLETED </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--   - #WHAT WE DO-->

        <section class="what-we-do">
            <div class="d-flex container-fluid heading">
                <div class="what">WHAT</div>
                <div class="we-do"> WE DO</div>
            </div>
            <div class="container-fluid row">

                @for (item of cardsContent; track $index) {
                <div class="col-md-4 col-4">
                    <div class="what-we-do-card">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z">
                            </path>
                        </svg>
                        <div class="what-we-do-card-content">
                            <p class="what-we-do-card-title">Card Title</p>
                            <p class="what-we-do-card-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco.
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </section>


        <!-- ##PROJECTS SECTION -->

        <section class="projects">
            <div class="projects-heading">
                <div class="heading">
                    PROJECTS
                </div>
            </div>
            <div class="d-flex">
                <div class="card-section-one">
                    <div class="projects-card" style="border: 1px solid #c3c6ce;">
                        <div class="projects-card-details" style="color: var(--color-text-white);">
                            <p class="projects-text-title">WEB PAGE DESIGN</p>
                            <p class="projects-text-body">Here are the details of the card</p>
                        </div>
                        <button class="project-card-button">More info</button>
                    </div>
                    <div class="projects-card" style="background:var(--color-red);">
                        <div class="projects-card-details" style="color: var(--color-text-white);">
                            <p class="projects-text-title">LOGO DESIGN</p>
                            <p class="projects-text-body">Here are the details of the card</p>
                        </div>
                        <button class="project-card-button">More info</button>
                    </div>
                </div>
                <div class="card-section-one">
                    <div class="projects-card"
                        style="background:var(--color-text-white);color: var(--color-background-black);height:528px;width: 320px;">
                        <div class="projects-card-details" style="color: var(--color-background-black);">
                            <p class="projects-text-title">MOBILE APPLICATION DESIGN</p>
                            <p class="projects-text-body">Here are the details of the card</p>
                        </div>
                        <button class="project-card-button">More info</button>
                    </div>

                </div>
                <div class="card-section-one">
                    <div class="projects-card" style="background:var(--color-red);">
                        <div class="projects-card-details" style="color: var(--color-text-white);">
                            <p class="projects-text-title">POSTER DESIGN</p>
                            <p class="projects-text-body">Here are the details of the card</p>
                        </div>
                        <button class="project-card-button">More info</button>
                    </div>
                    <div class="projects-card" style="border: 1px solid #c3c6ce;  width: 400px;">
                        <div class="projects-card-details" style="color: var(--color-text-white);">
                            <p class="projects-text-title">WEB PAGE DESIGN</p>
                            <p class="projects-text-body">Here are the details of the card</p>
                        </div>
                        <button class="project-card-button">More info</button>
                    </div>

                </div>
            </div>
        </section>

        <!-- ##WHAT CLIENT SAYS -->

        <section class="what-client-says">
            <div class="what-client-says-heading">
                <div class="heading">
                    <div class="main-heading">
                        WHAT CLIENT SAYS
                    </div>
                    <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                    </div>
                </div>
            </div>
            <div style="width: 55rem;margin: 75px 0 0 15rem;">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="
                        https://img.freepik.com/free-photo/autumn-leaf-falling-revealing-intricate-leaf-vein-generated-by-ai_188544-9869.jpg?w=1060&t=st=1718521643~exp=1718522243~hmac=04e40ac03caacc2cca6eb614563beb29276838e39b938626517a3e0195a66a9b
                        " class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/free-photo/animal-elephant-mammal-nature-wild-patterns-decoration-multi-colored-generative-ai_188544-9609.jpg?w=1060&t=st=1718521746~exp=1718522346~hmac=9d25c34f2ec60588ed18b90c2754c168d648582eb488715147bf5d2f1df18f15"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/free-photo/spools-multi-colored-thread-textile-material-generated-by-ai_188544-19539.jpg?w=1060&t=st=1718521762~exp=1718522362~hmac=ca760d13af05e40ccbd6048e3ac800d4e25dad105af7d171ae34566610311fb3"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

    </article>
</main>

<!-- <img style="width: 100px; height: 100px;" src="
https://img.freepik.com/free-photo/autumn-leaf-falling-revealing-intricate-leaf-vein-generated-by-ai_188544-9869.jpg?w=1060&t=st=1718521643~exp=1718522243~hmac=04e40ac03caacc2cca6eb614563beb29276838e39b938626517a3e0195a66a9b" alt="" srcset=""> -->