* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    // box-sizing: border-box;
    // scroll-behavior: smooth;
}

nav {
    // border: 1px solid yellow;
    // position: fixed;
    // margin-bottom: 100px;
    // padding-bottom: 100px;
    // background-color: rgba(0, 0, 0, 1);
    // transition: background-color 0.5s, padding 1s;
    // z-index: 1;
}

nav.sticky {
    background-color: rgba(255, 0, 0, 0.9);
    padding: 0;
}

.navbar-nav {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 10px 45px;

    // a {
    //     color: var(--color-text-white);
    // }
}

.phone-logo {
    padding: 10px 13px !important;
    background-color: var(--color-red);
    border-radius: 30px;
}

.main-logo img {
    max-width: 85% !important;
}


// _____________________________________


.on-hover-effect:focus,
.on-hover-effect:hover {
    box-shadow: 0 0 110px var(--color-grey);
    background-color: var(--color-grey);
    // color: #111; 
    // font-weight: 500;
    border-radius: 5px;
}

.on-hover-effect:focus:before,
.on-hover-effect:hover:before,
.on-hover-effect:focus:after,
.on-hover-effect:hover:after {
    width: 100%;
    left: 0%;
}

.on-hover-effect:before,
.on-hover-effect:after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: var(--color-grey);
    transition: width, left, 250ms cubic-bezier(0.25, .8, .25, 1);
}

.on-hover-effect:before {
    top: -2px;
}

.on-hover-effect:after {
    bottom: -2px;
}