* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.navbar-nav {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 10px 45px;

    a {
        color: var(--color-text-white);
    }
}

.phone-logo {
    padding: 10px 13px !important;
    background-color: var(--color-red);
    border-radius: 30px;
}

.main-logo img {
    max-width: 85% !important;
}


// _____________________________________


.nav-link:focus,
.nav-link:hover {
    box-shadow: 0 0 110px #fff;
    background-color: rgba(255, 255, 255, 0.4);
    color: #111;
    font-weight: 500;
    border-radius: 5px;
}

.nav-link:focus:before,
.nav-link:hover:before,
.nav-link:focus:after,
.nav-link:hover:after {
    width: 100%;
    left: 0%;
}

.nav-link:before,
.nav-link:after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width, left, 250ms cubic-bezier(0.25, .8, .25, 1);
}

.nav-link:before {
    top: -2px;
}

.nav-link:after {
    bottom: -2px;
}