<footer>
    <div class="container-fluid row footer">
        <div class="col-md-4 col-12 left-section">
            <div>
                <div class="logo">
                    <img src="../../assets/ui-flare-logo.svg" alt="logo" srcset="">
                </div>
                <div class="quick-links">
                    <div>QUICK LINKS</div>
                </div>
            </div>
            <div class="connect-us"></div>
        </div>
        <div class="col-md-4 col-12 right-section">hello</div>
    </div>
</footer>