.footer {
  // border: 1px solid red;
  justify-content: center;
  // max-width: 100%;

  .left-section {
    width: 45%;
    border-right: 1px solid var(--color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-section {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}