<footer class="footer" id="contactPage" style="background-color: #111; border-top: 1px solid #ffffff63;">
    <div class="container grid-list">

        <div class="footer-brand" style="border-right: 1px solid #ffffff63; padding-left: 2rem;">
            <h1><a href="#" class="logo">
                    SHERR
                </a></h1>
            <h3 style="margin-bottom: 2rem; margin-top: 2rem;">CONNECT WITH US:</h3>
            <ul class="social-list">

                <li>
                    <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-instagram" style="color: red;"></ion-icon> -->
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-whatsapp" style="color: red;"></ion-icon> -->
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-linkedin" style="color: red;"></ion-icon> -->
                    </a>
                </li>

            </ul>
        </div>



        <ul class="footer-list" style="border-right: 1px solid #ffffff63; padding-left: 2rem;">

            <li>
                <p class="h4 footer-list-title"
                    style="border-bottom: 2px solid red; width: 38%; padding-bottom: 1.5rem;">Quick Links</p>
            </li>

            <li>
                <a href="#" class="footer-link">Home</a>
            </li>
            <li>
                <a href="#" class="footer-link">About</a>
            </li>
            <li>
                <a href="#" class="footer-link">What We Do</a>
            </li>
            <li>
                <a href="#" class="footer-link">Testimonial</a>
            </li>
            <li>
                <a href="#" class="footer-link">Contact Us</a>
            </li>

        </ul>

        <div class="footer-list">

            <p class="h4 footer-list-title" style="font-weight: 300; font-size: 3rem;">LET'S WORK TOGETHER</p>

            <form class="input-wrapper">
                <input type="text" id="name" name="name" placeholder="Full Name" required class="input-field"
                    style="margin-bottom: 1rem; color: #ffffff61;">
                <input type="text" id="phone" name="phone_no" placeholder="Phone No." required class="input-field"
                    style="margin-bottom: 1rem;color: #ffffff61;">
                <input type="email" id="email" name="email_address" placeholder="Email" required class="input-field"
                    style="margin-bottom: 1rem;color: #ffffff61;">
                <textarea id="message" rows="3" class="input-field" placeholder="Message"
                    style="color: #ffffff61;"></textarea>

                <button type="submit" class="submit-btn">Send</button>
            </form>

        </div>

    </div>
</footer>