<footer>
    <div class="container-fluid row footer">
        <div class="col-md-4 col-12 left-section">
            <div class="d-flex justify-content-center align-items-top">
                <div class="logo">
                    <img src="assets/ui-flare-logo.svg" alt="logo" srcset="">
                </div>
                <div>
                    <div class="quick-links">QUICK LINKS</div>
                    <div class="line"></div>
                    <div class="quick-links-list">
                        <ul>
                            <li>Home </li>
                            <li>About </li>
                            <li>What We Do</li>
                            <li>Testimonial</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="connect-us">
                <div>CONNECT US :</div>
                <div>
                    <img src="assets/whatsapp-fill.svg" alt="">
                    <img src="assets/instagram-fill.svg" alt="">
                    <img src="assets/linkedin-box-fill.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 right-section">
            <div class="heading">LET'S WORK TOGETHER</div>
            <div class="form-container">
                <form class="form">
                    <div class="form-group">
                        <label for="email">Company Email</label>
                        <input required="" name="email" id="email" type="text">
                    </div>
                    <div class="form-group">
                        <label for="textarea">How Can We Help You?</label>
                        <textarea value="" required="" cols="50" rows="10" id="textarea" name="textarea">          </textarea>
                    </div>
                    <button type="submit" class="form-submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</footer>