:root {
    --color-background-black: #070707;
    --color-red: #EF0D33;
    --color-text-white: #FFFFFF;
    --color-grey: #B7B7B7;


    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;
}