<div class="main">
    <h1>PROJECT WORK</h1>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="web-pages-tab" data-bs-toggle="tab" data-bs-target="#web-pages"
                    type="button" role="tab" aria-controls="web-pages-controls" aria-selected="true">WEB PAGES</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard"
                    type="button" role="tab" aria-controls="dashboard" aria-selected="false">DASHBOARD</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="app-design-tab" data-bs-toggle="tab" data-bs-target="#app-design"
                    type="button" role="tab" aria-controls="app-design" aria-selected="false">APP DESIGN</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="logo-design-tab" data-bs-toggle="tab" data-bs-target="#logo-design"
                    type="button" role="tab" aria-controls="logo-design" aria-selected="false">LOGO DESIGN</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="social-media-tab" data-bs-toggle="tab" data-bs-target="#social-media"
                    type="button" role="tab" aria-controls="social-media" aria-selected="false">SOCIAL MEDIA</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="poster-design-tab" data-bs-toggle="tab" data-bs-target="#poster-design"
                    type="button" role="tab" aria-controls="poster-design" aria-selected="false">POSTER DESIGN</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="web-pages" role="tabpanel" aria-labelledby="web-pages-tab">
                <app-projects-summary />
            </div>
            <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                section 2
            </div>
            <div class="tab-pane fade" id="app-design" role="tabpanel" aria-labelledby="app-design-tab">
                section 3
            </div>
            <div class="tab-pane fade" id="logo-design" role="tabpanel" aria-labelledby="logo-design-tab">
                section 4
            </div>
            <div class="tab-pane fade" id="social-media" role="tabpanel" aria-labelledby="social-media-tab">
                section 5
            </div>
            <div class="tab-pane fade" id="poster-design" role="tabpanel" aria-labelledby="poster-design-tab">
                section 6
            </div>
        </div>
    </div>

</div>